---
interface Props {
  borderColor: string;
  size?: "lg" | "md" | "sm";
  imagePath?: string;
  text?: string;
}
const { borderColor = "white", size = "md", imagePath, text } = Astro.props;
const sizes = {
  sm: { outer: 86, inner: 76 },
  md: { outer: 190, inner: 168 },
  lg: { outer: 215, inner: 190 },
};
const margin = {
  sm: "5px",
  md: "11px",
  lg: "12px",
};

const outerSize = sizes[size].outer;
const innerSize = sizes[size].inner;
const rootMargin = margin[size];
---

<div
  class="outer circle"
  data-size={size}
  style={`width: ${outerSize}px; height: ${outerSize}px; ${imagePath ? `background-image: url("${imagePath}")` : ""}`}
>
  <div
    class="inner circle"
    style={`width: ${innerSize}px; height: ${innerSize}px;`}
  >
    <slot name="text" />
  </div>
</div>

<style define:vars={{ borderColor, rootMargin }}>
  .outer {
    background-color: var(--background-color-white);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
  }
  .inner {
    margin: var(--rootMargin);
    border: 1px solid var(--borderColor);
  }
  .circle {
    border-radius: 50%;
  }
</style>
