---
import LogoLarge from "../assets/images/logo-large.svg";
import VK from "../assets/icons/vk.svg";
import Inst from "../assets/icons/inst.svg";
import Whatsup from "../assets/icons/whatsup.svg";
import Telegramm from "../assets/icons/telegramm.svg";
import ContactButton from "../components/ContactButton.astro";
import { socialLinks } from "../social-links.ts";

const links = socialLinks;
---

<div class="video-section">
  <video autoplay muted loop playsinline>
    <source src="src/assets/videos/Video.webm" type="video/webm" />
  </video>
  <div class="logo">
    <LogoLarge />
  </div>
  <div class="creditionals">
    <div class="media">
      <div class="media-links hide-on-mobile">
        <a href={links.vk} target="_blank" class="link">
          <VK />
        </a>
        <a href={links.inst} target="_blank" class="link">
          <Inst />
        </a>
        <a href={links.wu} target="_blank" class="link">
          <Whatsup />
        </a>
        <a href={links.tg} target="_blank" class="link">
          <Telegramm />
        </a>
      </div>
      <span class="schedule">Доступны с 08:00 до 21:00</span>
      <a class="phone" href="tel:+79994440404">+7 999 444-04-04</a>
    </div>
    <div class="contact-us">
      <div class="media-links show-on-mobile">
        <a href={links.vk} target="_blank" class="link">
          <VK />
        </a>
        <a href={links.inst} target="_blank" class="link">
          <Inst />
        </a>
        <a href={links.wu} target="_blank" class="link">
          <Whatsup />
        </a>
        <a href={links.tg} target="_blank" class="link">
          <Telegramm />
        </a>
      </div>
      <p class="text-white">
        С удовольствием ответим на вопросы, <br /> подскажем формат и предложим идеи.
      </p>
      <a href={links.inst} class="inst">@martu.agency</a>
    </div>
  </div>
</div>

<style lang="css">
  .logo {
    display: flex;
    justify-content: center;
    z-index: 10;
    color: var(--text-color-white);
    align-items: center;
    position: absolute;
    pointer-events: none;
  }

  .creditionals {
    z-index: 2;
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
    color: var(--text-color-white);
  }

  .contact-us {
    color: var(--text-color-white);
    display: flex;
    flex-direction: column;
    justify-content: end;
    place-items: end;
  }

  .text-white {
    font-size: var(--fs-18);
  }

  .schedule {
    font-size: var(--fs-18);
    text-align: left;
  }

  .media {
    display: flex;
    flex-direction: column;
  }

  .media-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .media-links svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .link {
    border-radius: 50%;
    background-color: #ffffff33;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    color: var(--text-color-white);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
  }

  .phone {
    font-size: var(--fs-64);
    text-decoration: none;
    color: var(--text-color-white);
  }

  .inst {
    font-size: var(--fs-64);
  }

  .video-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--section-margin);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .video-section video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  .show-on-mobile {
    display: none;
  }
  @media (max-width: 1025px) {
    .phone {
      font-size: 3rem;
    }

    .inst {
      font-size: 3rem;
    }
  }

  @media (max-width: 755px) {
    .creditionals {
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      color: var(--text-color-white);
      text-align: center;
      align-items: center;
    }

    .media {
      margin-top: 6rem;
    }
    .schedule {
      text-align: center;
    }
    .hide-on-mobile {
      display: none;
    }

    .show-on-mobile {
      display: flex;
    }
    .contact-us {
      place-items: center;
    }
    .logo {
      width: 226px;
      height: 218px;
    }
  }

  @media (max-width: 455px) {
    .phone {
      font-size: var(--fs-32);
      font-size: var(--lh-32);
    }

    .inst {
      font-size: var(--fs-32);
      font-size: var(--lh-32);
    }

    .media-links {
      gap: 0.5rem;
    }

    .link {
      height: 44px;
      width: 44px;
    }

    .schedule {
      font-size: var(--fs-14);
      font-size: var(--lh-14);
    }
  }
  .video-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
</style>
